@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap');
@import "tailwindcss";


@theme {
  /* Colors */
  --color-panda-white: #fefaf0;
  --color-lofi-charcoal: #3d3d3d;
  --color-cozy-beige: #f5e6d3;
  --color-paper: oklch(0.94 0.03 85);

  /* Fonts */
  /* This creates a class called 'font-space' */
  --font-space: "Space Grotesk", sans-serif;
}

/* Custom Sketch Utilities */
@utility sketch-bw {
  filter: grayscale(1) contrast(500%) brightness(120%);
}

@utility sketch-color {
  filter: sepia(0.2) contrast(150%) saturate(80%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}